a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  color: #fff;
  height: 50px;
  background-color: #000;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  display: block;
}
nav {
  height: 30px;
  background-color: #333;
  color: #fff;
}
nav a {
  color: #fff;
  font-weight: 700;
  line-height: 2;
}
section {
	text-align: center;
	background:#eaeaea;
	min-height:550px;
	line-height:27px;
}
section div:first-child {
	text-align: center;
}

table {
	margin: auto;
}

footer {
  display: block;
  height: 30px;
  background-color: #000;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  font-weight: 700;
}

img .welcome {
	display:block;
	width: 100px;
	height: 50px;
}


/* 회원 목록 조회 */
.member_list div {
	margin: auto;
}
.member_list table tr td:last-child {
	 text-align: left;
}

/* 회원 상세 조히 */
.member_detail table {
	 margin: auto;
}


/* 상품조회 */
.pdImg {
	width: 100px;
	height: 100px;
}

/* 상품 디테일 */
#pdImgDetail {
	width: 200px;
	height: 200px;
}
.product_detail table tr td {
	text-align: center;
}